.wrapper {
	width: 20rem;
	margin: auto;
}

body {
    background-color: white;
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
  
}

.name {
    width: 50%;

    }
    
.mail {
    width: 50%;

    }

legend {
    background-color: white;
    font-size: 2rem;
    border: solid;
}

fieldset {
    background-color: #F5F5F5;
    border: 1px #DDD solid;
}


input#fname {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px #DDD solid;
    box-sizing: border-box;
}

input#email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px #DDD solid;
    box-sizing: border-box;
}

textarea#message {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px #DDD solid;
    resize: none;
}

input#send {
    width: 100%;
    background-color: #6495ED;
    color: black;
    font-size: 1rem;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}


@media only screen and (min-width: 25rem)
    .wrapper {
		width: 25rem;
        margin: auto;   
	}

    .name {
        float: left;
        width: 100%;
      
    }
    
    .mail {
        width: 100%;
        
    }


@media only screen and (min-width: 50rem){
	.wrapper {
		width: 45rem;
        margin: auto;   
	}
    
    .name {
        float: left;
        width: 48%;
      
    }
    
    .mail {
        float: right;
        width: 48%;
  
    }
    
